@media (min-width: 980px)
{
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}      
.sidebar-nav {
  padding: 9px 0;
}
/* Suppression de la marge tous les quatres éléments */
.accordion-inner .span4:nth-child(4n){
  margin-left: 0px;        
}
/* Fix temporaire pour aligner les events */
.accordion-inner .event-header {
  min-height:137px;
}
/* Correction des checkboxs inline dans les table-condensed*/
.table-condensed td .checkbox {
  margin-top:-8px;
}
/* Placement du bouton close-hero-unit en haut à droite */
.hero-unit #close-hero-unit {
  margin-top:-45px;
  margin-right:-35px;
}
/* Création des tags de filtrage */
.listTags{
  display: inline-block;
  height: 29px;
  padding: 5px 0px 0px 5px;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.tag{
  display: inline-block;
  height: 18px;
  padding: 2px 5px;
  border: 1px solid #CCC;
  font-weight: bolder;
  color: #0073EA;
}

.tag i{
  margin-top: 1px;
}

.listTags input{
  border: none;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
