{% extends 'body.twig' %}
{% block content %}
{% if cur_user.rights.superadmin %}
<div class="span9">
  <a href="#" class="btn btn-success btn-large">Sauvegarder</a>
</div>
{% endif %}
{% endblock %}
