{% extends 'layout.twig' %}

{% block body %}
        <!-- Sidebar -->
        <div class="span3">
          <div class="well sidebar-nav">
            {% if cur_user.login|length > 0 %}
              <ul class="nav nav-list">
                <li class="nav-header">Accès Rapide</li>
                <li {% if cur_page == 'home' %}class="active"{% endif %}><a href="./"><i class="icon-home"></i>Vue globale</a></li>
                {% if cur_user.rights.add_event %}
                <li><a href="#"><i class="icon-plus-sign"></i>Ajouter un évènement</a></li>
                {% endif %}
              </ul>
              {% if cur_user.rights.add_event or cur_user.rights.edit_event or cur_user.rights.delete_event or cur_user.rights.print_listing %}
              <ul class="nav nav-list">              
                <li class="nav-header">Evènement</li>
                {% endif %}
                {% if cur_user.rights.add_event or cur_user.rights.edit_event or cur_user.rights.delete_event %}
                <li {% if cur_page == 'events' %}class="active"{% endif %}><a href="events-manage"><i class="icon-calendar"></i>Gérer les évènements</a></li>
                {% endif %}
                {% if cur_user.rights.print_listing %}
                <li><a href="#"><i class="icon-print"></i>Feuilles d'émargement &amp; absences</a></li>              
              </ul>
              {% endif %}
              {% if cur_user.rights.add_user or cur_user.rights.edit_user or cur_user.rights.delete_user or cur_user.rights.manage_rights %}
              <ul class="nav nav-list">
                <li class="nav-header">Utilisateurs</li>
                {% if cur_user.rights.add_user or cur_user.rights.edit_user or cur_user.rights.delete_user %}
                <li {% if cur_page == 'users' %}class="active"{% endif %}><a href="users-manage"><i class="icon-user"></i>Gérer les utilisateurs</a></li>
                {% endif %}
                {% if cur_user.rights.manage_rights %}
                <li {% if cur_page == 'rightgrps' %}class="active"{% endif %}><a href="rgroups-manage"><i class="icon-lock"></i>Gérer les droits</a></li>  
                {% endif %}            
              </ul>
              {% endif %}
              {% if cur_user.rights.superadmin %}
              <ul class="nav nav-list">
                <li class="nav-header">Administration</li>
                <li {% if cur_page == 'config' %}class="active"{% endif %}><a href="admin-config"><i class="icon-wrench"></i>Gestion de l'application</a></li>
              </ul>
              {% endif %}
            {% else %}
            <ul class="nav nav-list">
              <li class="nav-header">Accès Rapide</li>
              <li {% if cur_page == 'home' %}class="active"{% endif %}><a href="./"><i class="icon-home"></i>Vue globale</a></li>
            </ul>
            {% endif %}
          </div><!--/.well -->
        </div><!--/span3-->
{% block content %}{% endblock %}
{% endblock %}
