{% extends 'body.twig' %}
{% block redirection %}
  <meta http-equiv="refresh" content="5; url={{ site_root }}" />
{% endblock %}
{% block content %}
<div class="row">
  <div class="alert alert-info span12" id="redirection">
    Vous avez été déconnecté avec succés. Vous allez être redirigé dans 5 secondes. <br />
    <a href="{{ site_root }}">Cliquez ici pour ne pas attendre</a>
  </div>
</div>
{% endblock %}
