{% set cur_page = 'manageevents' %}
{% extends 'body.twig' %}
{# TODO : Implémenter la sécurité #}
{% block content %}
{% if cur_user.rights == "manager" or cur_user.rights == "admin"%}
  <div class="span9">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#collections">Sessions</a></li>
      <li><a data-toogle="tab" href="#evenements">Evenements</a></li>
    </ul>
   
    <div class="tab-content">
      <div class="tab-pane active" id="collections">
        <a class="btn btn-primary" href="#">Ajouter</a>
        <a class="btn btn-warning" href="#">Modifier</a>
        <a class="btn btn-danger" href="#">Supprimer</a>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
              <th>Nom</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>          
            {% for session in sessions %}
            <tr id="session-{{ session.id }}">
              <td><label class="checkbox inline"><input type="checkbox"/></label></td>
              <td>{{ session.name }}</td>
              <td>{{ session.description }}</td>
            </tr>
            {% endfor %}          
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="evenements">
      <h2>TODO</h2>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
