{% include 'footer.twig' %}
{% include 'js.twig' %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>ADE Anmieu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
  {% block body %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block js %}{% endblock %}
  </body>
</html>
