<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>ADE Anmieu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      @media (min-width: 980px)
      {
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
      }      
      .sidebar-nav {
        padding: 9px 0;
      }
      /* Suppression de la marge tous les quatres éléments */
      .accordion-inner .span4:nth-child(4n){
        margin-left: 0px;        
      }
      /* Fix temporaire pour aligner les events */
      .accordion-inner .event-header{
        min-height:137px;
      }
      /* Correction des checkboxs inline dans les table-condensed*/
      .table-condensed td .checkbox {
        margin-top:-8px;
      }
    </style>
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- collapse pour la vue mobile -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./">ADE Anmieu</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              {% if cur_user.login|length > 0 %}
							<i class="icon-user"></i> {{ cur_user.login }}
							{% endif %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Préférences</a></li>
              <li class="divider"></li>
              <li><a href="#">Déconnexion</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Aide</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Container -->
    <div class="container-fluid">
      <div class="row-fluid">
{% block body %}{% endblock %}
      </div><!--/row-fluid-->
    </div><!--/container-fluid-->
    <hr>
    <footer>
      <p>&nbsp;&copy; 2012 - <a href="https://github.com/sikado/projet-ic4">Retrouvez-nous sur GitHub</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/inscription.js"></script>
  </body>
</html>
