{% extends 'layout.twig' %}
    
    {% block body %}
          <div class="span12">
            <form class="well form-inline">
              <input type="text" name="login" class="input-small" placeholder="Email">
              <input type="password" name="password" class="input-small" placeholder="Mot de Passe">
              <button type="submit" class="btn">Connexion</button>
            </form>
          </div>
    {% endblock %}
