{% extends 'body.twig' %}
{% block content %}
<div class="span9">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><label class="control-label" for="inlineCheckboxes"></label></th>
        <th>#</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Login</th>
        <th>Courriel</th>
        <th>Groupe IRL</th>
        <th>Groupe de droits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pierre</td>
        <td>Quiroule</td>
        <td>pierreQuir</td>
        <td>pierre.quiroule@hotmail.fr</td>
        <td>RT1_A1</td>
        <td>eleves</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
