<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <!-- Session -->
  <route url="/login" module="user" action="Login" />
  <route url="/disconnect" module="user" action="Disconnect" />
  
  <!-- Utilisateurs -->
  <route url="/signin" module="user" action="Signin" />
  <route url="/users-manage" module="user" action="ListUsers" />
  <route url="/users-delete" module="user" action="DeleteUsers" />
  <route url="/users-promote" module="user" action="PromoteUsers" />
  
  <!-- Admin -->
  <route url="/admin-config" module="admin" action="ShowConfig" />
  <route url="/admin-backup" module="admin" action="ManageBackups" />
  
  
  <!-- <route url="/event-(\d+)-detail((-ajax)?)" module="event" action="Detail" vars="idEvent,ajax" /> -->
  <!-- Sessions -->
  <route url="/session-(\d+)-get" module="event" action="GetEvents" vars="idSession" />
  <route url="/session-(\d+)-list" module="event" action="ListEvents" vars="idSession" />
  <route url="/session-delete" module="event" action="SessionDelete" />
  <route url="/session-submit" module="event" action="SessionSubmit" />

  <!-- Evenements -->
  <route url="/events-participation" module="event" action="GetParticipation" />
  <route url="/event-(\d+)-inscription" module="event" action="Inscription" vars="idEvent" />
  <route url="/events-manage" module="event" action="ManageEvents" />
  <route url="/next-events" module="event" action="NextEvents" vars="idSession" />
  <route url="/event-submit" module="event" action="EventSubmit" />
  <route url="/events-print" module="event" action="PrintLists" />

  <!-- Error -->
  <route url="/error-403" module="error" action="Error403" />
  <route url="/error-500" module="error" action="Error500" />
  <route url="/error-manchot" module="error" action="ErrorManchot" />
  
  <!-- Index -->
  <route url="/search" module="event" action="GetSearch" />
  <route url="/" module="home" action="ShowHome" />
</routes>
