<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <!-- Session -->
  <route url="/login" module="user" action="Login" />
  <route url="/disconnect" module="user" action="Disconnect" />
  
  <!-- Utilisateurs -->
  <route url="/signin" module="user" action="Signin" />
  <route url="/users-manage" module="user" action="ListUsers" />
  <route url="/users-delete" module="user" action="DeleteUsers" />
  
  <!-- Admin -->
  <route url="/admin-config" module="admin" action="ShowConfig" />
  <route url="/admin-backup" module="admin" action="" />
  
  <!-- Evenements -->
  <route url="/event-(\d+)-detail((-ajax)?)" module="event" action="Detail" vars="idEvent,ajax" />
  <route url="/session-(\d+)-detail" module="event" action="DetailSession" vars="idEvent" />
  <route url="/session-(\d+)-list" module="event" action="ListEvents" vars="idSession" />
  <route url="/events-manage" module="event" action="ManageEvents" />
  <route url="/events-add" module="event" action="AddEvents" />
  
  <!-- Error -->
  <route url="/error-403" module="error" action="Error403" />
  <!-- Index -->
  <route url="/" module="home" action="ShowHome" />
</routes>
