<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <!-- Session -->
  <route url="/login" module="user" action="Login" />
  <route url="/disconnect" module="user" action="Disconnect" />
  
  <!-- Utilisateurs -->
  <route url="/users-manage" module="user" action="ListUsers" />
  <route url="/users-delete" module="user" action="DeleteUsers" />
  
  <!-- Droits -->
  <route url="/rgroups-manage" module="rgroups" action="ListRGroups" />
  
  <!-- Admin -->
  <route url="/admin-config" module="admin" action="ShowConfig" />
  
  <!-- Evenements -->
  <route url="/event-(\d+)-detail((-ajax)?)" module="event" action="Detail" vars="idEvent,ajax" />
  <route url="/events-manage" module="event" action="ManageEvents" />
  <route url="/events-add" module="event" action="AddEvents" />
  <route url="/events-register" module="event" action="ListCollections" />
  
  <!-- Error -->
  <route url="/error-403" module="error" action="Error403" />
  <!-- Index -->
  <route url="/" module="home" action="ShowHome" />
</routes>
