<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <!-- Session -->
  <route url="/login" module="user" action="Login" />
  <route url="/disconnect" module="user" action="Disconnect" />
  
  <!-- Utilisateurs -->
  <route url="/users-manage" module="user" action="ListUsers" />
  <route url="/users-delete" module="user" action="DeleteUsers" />
  
  <!-- Droits -->
  <route url="/rgroups-manage" module="rgroups" action="ListRGroups" />
  
  <!-- Admin -->
  <route url="/admin-config" module="admin" action="ShowConfig" />
  
  <!-- Evenements -->
  <route url="/event-(\d+)-detail((-ajax)?)" module="event" action="Detail" vars="idEvent,ajax" />
  <route url="/events-manage" module="event" action="ManageEvents" />
  
  <!-- Index -->
  <route url="/" module="event" action="ListEvents" />
</routes>
