{% extends 'body.twig' %}

{% block content %}
  <div id='calendar'>&nbsp;</div>
{% endblock %}

{% block calendarscript %}
<script type='text/javascript'>
  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      editable: true,
      events: [
        {{ nextevents|raw }}
      ]
    });
  });
</script>
{% endblock %}
