{% extends 'body.twig' %}

{% block content %}
  {# Boutons radios #}
  <div id="btngroupe-listevents" class="btn-group" data-toggle="buttons-radio">
    <button class="btn active" id="buttonCalendar">Calendrier</button>
    <button class="btn" id="buttonList">Liste</button>
  </div>
  {# Calendrier #}
  <div class="well span9" id='calendar'>&nbsp;</div>
  {# Liste #}
  <div class="span9 hide">
    <ul class="unstyled">
    {% for event in events %}
    <li><a href="#">{{ event.datedebutevenement|truncate(11,true)|date("d M")|replace({'Feb': 'Fev', 'Apr': 'Avr', 'May': 'Mai', 'Jun': 'Juin', 'Jul': 'Juil', 'Aug': 'Août'}) }} - {{ event.nomevenement }}</a></li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block calendarscript %}
<script type='text/javascript'>
  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      editable: true,
      events: [
        {{ nextevents|raw }}
      ]
    });
  });
</script>
{% endblock %}
