{% set cur_page = 'register' %}
{% extends 'body.twig' %}
{% block content %}
<div class="span9">
  <div class="well">
    <h2>{{ session.name }}</h2>
  </div> 
  {% for event in session.events %}
  <div class="span4">
    <div class="event-header">
      <h3>{{ event.name }}</h2>
    </div>
    <dl>
      <dt>Description</dt>
      <dd>{{ event.description }}</dd>
    </dl>
    <p><a class="btn" href="event-{{ event.id }}-inscription">S'inscrire</a></p>
  </div><!--/span4-->
  {% endfor %}
</div>
{% endblock %}
