{% set cur_page = 'manageevents' %}
{% extends 'body.twig' %}
{# TODO : Implémenter la sécurité #}
{% block content %}
{% if cur_user.right == "gestionnaire" or cur_user.right == "admin"%}
<div class="row">
  <div class="span6">
    <a class="btn btn-primary" href="#">Ajouter</a>
    <a class="btn btn-warning" href="#">Modifier</a>
    <a class="btn btn-danger" href="#">Supprimer</a><br /><br />
    <h5>Cliquez sur le nom d'une session pour voir ses détails</h5>
    <table class="table table-condensed well">
      <thead>
        <tr>
          <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
          <th>Nom</th>
          <th>Evenements</th>
        </tr>
      </thead>
      <tbody>          
        {% for session in sessions %}
        <tr id="session-{{ session.id }}">
          <td><label class="checkbox inline"><input type="checkbox"/></label></td>
          <td><a href="#">{{ session.name }}</a></td>
          <td><a href="#">Voir &raquo;</a></td>
        </tr>
        {% endfor %}          
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
