{% extends 'body.twig' %}
{% block content %}
{% if cur_user.right == "GESTIONNAIRE" or cur_user.right == "ADMIN" %}
<div class="row">
  <div class="span10 well">
    <h3>Importé avec succès !</h3>
    <a href="events-manage" class='btn'>Retourner à la gestion des évènements</a>
  </div>
</div>
{% endif %}
{% endblock %}