{% extends 'body.twig' %}
{% block content %}
<div class="row">
<div class="span12"><h1>{{ session.nomsession }}</h1></div>
{% for event in events %}
<div class="span4 well">
  <div class="event-header">
    <h2>{{ event.nomevenement }}</h2>
    <h4><span class="badge badge-inverse">{{ session.nbmaxinscritevenement - event.nbinscrit }} places libres</span></h4>
  </div>
  <dl>
    <dt>Description</dt>
    <dd>{{ event.descevenement }}</dd>
  </dl>
  <p><a class="btn detailBtn" href="event-xxx-detail">Détails &raquo;</a></p>
  <div class="ajaxCont"></div>
</div><!--/span4 data-toggle="modal"-->
{% endfor %}
</div>
{% endblock %}