{% extends 'body.twig' %}

{% block content %}
<div class="row">
  {% if state|length > 0 %}
    {% if state == 'wrong' %}
    <div class="alert alert-error span4 offset4">Email/Mot de passe incorect</div>
    {% elseif state == 'success' %}
    <div class="alert alert-success span4 offset4">Identification réussie</div>
    {% elseif state == 'noData' %}
    <div class="alert alert-error span4 offset4">Vous devez renseigner tous les champs</div>
    {% else %}
    <div class="alert alert-error span4 offset4">{{ state }}</div>
    {% endif %}
  {% endif %}
  <div class="span4 offset4">
    <form class="form-signin well" id="form-signin"method='POST' action='login'>
      <div id="ctrlEmail" class="control-group">
        <div class="controls">
          <input type="text" name='email' class="input-block-level" placeholder="Adresse Email">
        </div>
      </div>
      <div id="ctrlPassword" class="control-group">
        <div class="controls">
          <input type="password" name='password' class="input-block-level" placeholder="Mot de passe">
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-large btn-primary" type="submit">Connexion</button>
        <a href="{{ site_root }}/signin" class='btn btn-large btn-info'>Inscription</a>
      </div>
    </form>
  </div>
  <div class="span8 offset2">
  </div>
</div>
{% endblock %}