{% set cur_page = 'register' %}
{% extends 'body.twig' %}
{% block content %}

<div class="span9">  

  {% for session in sessions %}
  <div class="span4">
    <div class="event-header">
      <h2>{{ session.name }}</h2>
    </div>
    <dl>
      <dt>Description</dt>
      <dd>{{ session.description }}</dd>
    </dl>
    <p><a class="btn" href="session-{{ session.id }}">Voir &raquo;</a></p>
  </div><!--/span4-->
  {% endfor %}

</div> 

{% endblock %}
